*
{
margin:0;
padding: 0;
}
body{

       line-height: 1.6;
     background-color: #f1efef;
     color: black;
}




header{

background-color: rgb(38, 146, 235);
color: #f1efef;
padding: 20px;
text-align: center;
}

nav a{
       text-decoration: none;
       font-weight: bold;
       margin:0 15px
}
   
#about img
{
              height: 150px;
              width: 150px;
              object-fit: cover; 

border-radius: 50%;
border: 3px solid rgb(17, 185, 236);
   margin: 30px 30px;
}


#about div{

margin-left: 80px;

}




.mycontent,.projects
{
    margin-left: 80px;



}



            



   
 .projects
{

display: flex;
justify-content: space-around;
align-items: center;
width: 90%;

}
 
.project-card{
   background-color: aliceblue;
   padding: 20px;
    border-radius: 10px;
   box-shadow: 0 2px 5px  ;
    transition: 0.2s;

}


.project-card:hover{
        transform: scale(1.02);
         /*zoom*/

}
 .project-card a {

      color: rgb(20, 169, 214);
      text-decoration: none;
      font-weight: bold;

 }

 

   




 



      









   


 

     


 


 


   





   
               

   




   

     


   
             
 
   






  






